numpy==1.24.2
pandas==1.5.3
scikit-learn==1.2.2
xgboost==2.1.4
flask==2.2.5
flask-cors==6.0.1
gunicorn==20.1.0
implicit==0.7.2
imbalanced-learn==0.12.4
nltk==3.9.1
scipy==1.10.0
python-dateutil>=2.8.1
pytz>=2020.1
joblib>=1.1.1
threadpoolctl>=2.0.0
regex>=2021.8.3
zipp>=3.20
MarkupSafe>=2.0
six>=1.5
click>=8.0
itsdangerous>=2.0
Jinja2>=3.0
importlib-metadata>=3.6.0
tqdm>=4.27

















